---
import Section from "../Section.astro";

import data from "@cv";

const { locale = "es" } = Astro.params;

const { work } = data[locale as keyof typeof data];
---

<Section title="Experiencia laboral">
  <ul class="flex gap-8 flex-col">
    {
      work.map(({ name, startDate, endDate, position, summary, url }) => {
        const startYear = new Date(startDate).getFullYear();
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : "Actual";
        const years = `${startYear} - ${endYear}`;

        return (
          <li>
            <article>
              <header class="flex justify-between items-start mb-1">
                <div>
                  <h3 class="font-medium text-[#111]">
                    <a
                      href={url}
                      title={`Ver ${name}`}
                      target="_blank"
                      class="text-[#111] hover:underline"
                    >
                      {name}
                    </a>
                  </h3>
                  <h4 class="text-[#222] font-normal">{position}</h4>
                </div>

                <time class="text-[#555] text-sm min-w-28 md:text-left text-right">
                  {years}
                </time>
              </header>

              <footer>
                <div class="text-justify" set:html={summary} />
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
