---
import GitHub from "@/components/icons/GitHub.astro";
import Section from "../Section.astro";
import data from "@cv";

const { locale = "es" } = Astro.params;

const { projects } = data[locale as keyof typeof data];
---

<Section title="Proyectos">
  <ul
    class="grid grid-cols-1 sm:grid-cols-auto-fit sm:grid-cols-minmax-200px gap-4 md:me-[-16px] md:ms-[-16px]"
  >
    {
      projects.map(
        ({ url, description, highlights, name, isActive, github }) => {
          return (
            <li>
              <article class="rounded-lg md:border border-[#f2f2f2] gap-4 flex flex-col md:p-4 h-full sm:shadow-none shadow-sm p-2">
                <header class="flex-1">
                  <h3 class="mb-1">
                    <a
                      class="text-[#111 hover:underline]"
                      href={url}
                      target="_blank"
                      title={`Ver el proyecto ${name}`}
                    >
                      {name}
                    </a>
                    {isActive && <span class="text-green-500">•</span>}
                    {github && (
                      <a
                        class="ml-1.5"
                        href={github}
                        target="_blank"
                        title={`Ver código fuente del proyecto ${name}`}
                      >
                        <GitHub />
                      </a>
                    )}
                  </h3>
                  <p class="text-[0.75rem] leading-5 mb-1">{description}</p>
                </header>
                <footer class="flex flex-wrap gap-1 text-xs">
                  {highlights.map((highlight) => {
                    return (
                      <span class="border rounded-md bg-[#eee] text-[#444] text-[0.6rem] font-medium py-[0.2rem] px-2.5">
                        {highlight}
                      </span>
                    );
                  })}
                </footer>
              </article>
            </li>
          );
        },
      )
    }
  </ul>
</Section>
